@import 'tailwindcss';
@import './_editor-content.css';

@theme {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: light-dark(var(--color-black), var(--color-zinc-100));
  --color-muted: light-dark(var(--color-zinc-100), var(--color-zinc-900));
  --color-muted-foreground: light-dark(
    var(--color-zinc-500),
    var(--color-zinc-400)
  );
  --color-faint: light-dark(var(--color-zinc-300), var(--color-zinc-600));
  --color-border: light-dark(var(--color-zinc-200), var(--color-zinc-800));
  --color-ring: var(--color-zinc-500);
  --color-accent: light-dark(var(--color-red-500), var(--color-red-400));
  --color-selection: light-dark(
    --alpha(var(--color-red-200) / 70%),
    --alpha(var(--color-red-500) / 30%)
  );

  --window-menu-height: 36px;
}

html,
body,
#root {
  @apply bg-background text-foreground selection:bg-selection caret-accent accent-accent h-full w-full overflow-hidden overscroll-none;
}

:root {
  font-variant-ligatures: none;
}

.window-chrome {
  opacity: 0;
  transition: opacity 150ms ease;
}

html.window-hovered .window-chrome {
  opacity: 1;
}

:not(iframe) {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-corner {
    @apply size-2 bg-transparent;
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-border rounded-sm;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply opacity-40!;
  }
}

@utility hide-scrollbar {
  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility shadow-border {
  box-shadow: 0 0 0 1px
    var(
      --tw-shadow-color,
      light-dark(
        --alpha(var(--color-black) / 8%),
        --alpha(var(--color-white) / 12%)
      )
    );
}

:where(*):not(a, input, textarea):not([contenteditable] *):not(
    [contenteditable] *
  )::before,
:where(*):not(a, input, textarea):not([contenteditable] *):not(
    [contenteditable] *
  )::after,
:where(*):not(a, input, textarea):not([contenteditable] *):not(
    [contenteditable] *
  ) {
  @apply cursor-default select-none;
}
