@import 'tailwindcss';
@import './_editor-content.css';

@theme {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  --window-menu-height: 36px;
}

html,
body,
#root {
  @apply h-full w-full overflow-hidden bg-white selection:bg-red-200/70;
}

:not(iframe) {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-corner {
    @apply size-2 bg-transparent;
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-gray-200;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply opacity-40!;
  }
}

@utility hide-scrollbar {
  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility shadow-border {
  box-shadow: 0 0 0 1px var(--tw-shadow-color, #00000014);
}
