@import 'tailwindcss';
@import './_editor-content.css';

@theme {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  --window-menu-height: 36px;
}

body {
  @apply selection:bg-red-200/70;
}

@utility hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility shadow-border {
  box-shadow: 0 0 0 1px var(--tw-shadow-color, #00000014);
}
